h1 {
  display: flex;
  justify-content: center;
}

.minesweeper-board {
  justify-content: center;
  background-color: #00004c;
  width: fit-content;
  margin: auto;
  border: 1px solid #00004c;
}

.board-row {
  display: flex;
  margin: 0;
}

.board-col {
  display: flex;
  margin: 0;
}

.board-tile {
  border: none;
  font-weight: bold;
  font-size: 18px;
  width: 48px;
  height: 48px;
  margin: 1px;
  background-color: #f5faff;
}

.tile-0 {
  color: rgba(255, 255, 255, 0);
}

.tile-clicked-true {
  background: #d5e0ff;
}

.tile-mine-true {
  background-color: #f5faff;
}

.board-tile:hover {
  opacity: 0.9;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-restart {
  border-style: solid;
  border-color: #cb0505;
  border-radius: 5px;
  background: #fdecec;
  font-size: 24px;
  padding: 2px 10px;
  color: #da4141;
  transition: all 0.3s ease 0s;
}

.btn-restart:hover {
  color: #fde4e4;
  background-color: #e14040;
  box-shadow: 0 8px 20px rgba(229, 46, 80, 0.4);
  transform: translateY(-2px);
}

#btn-solve {
  margin: 20px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 5px;
  background: #abffab;
  font-size: 24px;
  padding: 2px 10px;
  color: #000000;
  transition: all 0.3s ease 0s;
}

#btn-solve:hover {
  color: #001a00;
  background-color: #abffab;
  box-shadow: 0 8px 20px rgba(46, 299, 110, 0.4);
  transform: translateY(-2px);
}

