h1 {
  display: flex;
  justify-content: center;
}

.minesweeper-board {
  justify-content: center;
  background-color: #00004c;
  width: fit-content;
  margin: auto;
  border: 1px solid #00004c;
}

.board-row {
  display: flex;
  margin: 0;
}

.board-col {
  display: flex;
  margin: 0;
}

.board-tile {
  border: none;
  font-weight: bold;
  font-size: 18px;
  width: 48px;
  height: 48px;
  margin: 1px;
  background-color: #ecf8ff;
}

.tile-0 {
  color: rgba(255, 255, 255, 0);
}

.tile-clicked-true {
  background: #97b2ff;
}

.board-tile:hover {
  opacity: 0.9;
}
